@model int
<h2>Order Completed</h2>
<p>Ban mua san pham voi ID @Model thanh cong.</p> 
<button class="btn btn-outline-dark">
    <i class="bi-cart-fill me-1"></i> <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
</button>